body {
  color: #1a2c37;
  font-family: 'Helvetica', sans-serif; font-size: 86%;
  padding: 2em;
}

#info {
  font-size: 120%;
  font-weight: bold;
}

#tail {
  border: 1px solid #ccc;
  height: 300px;
  padding: 0.5em;
  overflow: hidden;
  position: relative;
  overflow-y: scroll;
}
